
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* colors */
    --c-primary: #f7a100;
    --c-secundary: #0071B3;
    --c-secundary-accent: #d4e9ff;
    --c-default: #fff;
    --c-invert: #333;
    /* width */
    --w-full: 100%;
    --w-half: 50vw;
    --w-quarter: 25vw;

    /* Space defaults */
    --em-small: 0.5em;
    --em-default: 1em;
    --em-medium: 2em;

    /* --c-alert: #E30059;
    --c-warning: #FFD05F;
    --c-succes: #25AE93;
    --c-info: #606eb3; */
}

::selection {
    background-color: rgba(247, 161, 0, 0.33);
    color: var(--c-invert);
}

/* Basic settings */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Proxima Nova", sans-serif;
    background-color: var(--c-default);
}

header {
    width: 100%;
    height: 4em;
    background-color: var(--c-primary);
    display: flex;
    align-items: center;
    padding: var(--em-default);
}

header nav {
    position: absolute;
    right: var(--em-default);
}

header nav ul {
    display: flex;
    gap: var(--em-default);
}

main {
    display: block;
    position: relative;
}

a {
    text-decoration: none;
}

/* sections */

section {
    display: block;
}

.hero {
    width: var(--w-full);
}

.product-hero {
    width: fit-content;
    background-color: var(--c-primary);
    color: var(--c-default);
    border-radius: 0.5em 0 0 0.5em;
    padding: var(--em-default);
    padding-right: var(--em-medium);
    position: absolute;
    right: 0;
    transform: translateY(-5em);
}

.product-hero h2, h3 {
    color: var(--c-default);
}

.product-hero sup {
    font-size: 0.5em;
}

.product-images {
    padding: 5em 0 1em;
    display: flex;
    overflow: scroll;
    gap: var(--em-small);
}

.product-images img {
    width: 10em;
}

.product-info {
    background-color: var(--c-secundary-accent);
    padding: var(--em-small) var(--em-medium);
}

.product-info ul {
    width: fit-content;
    display: block;
    gap: var(--em-default);
}

.product-info li {
    color: var(--c-secundary);
    display: flex;
    align-items: center;
    padding: 0.5em;
}

.product-info svg {
    margin-right: 0.5em;
}

.product-info sup {
    font-size: 0.8em;
}

.product-summary {
    padding: var(--em-default);
}

.product-summary p + h2, h3 {
    padding-top: var(--em-default);
    color: var(--c-primary);
}

.product-summary ul + strong {
    padding-top: var(--em-default);
}

.product-summary li {
    padding-bottom: 0.4em;
}

.product-features {
    padding: var(--em-default);
}

.product-features h2 + h3 {
    padding: 0;
}

iframe {
    width: var(--w-full);
}

.product-comparable {
    padding: var(--em-default);
}

.product-actions {
    padding: var(--em-default);
}


ul {

}

li {
    list-style: none;
    max-width: 30em;
}

.logo {
    width: 5em;
    height: auto;
    display: block;
}

/* Typography */

h1 {
    font-size: var(--em-medium);
}

h2 {
    color: var(--c-primary);
}

h3 {
    color: var(--c-primary);
}

p {
    max-width: 30em;
}

sup {
    font-size: 0.5em;
}

/* Image */
/* img {
    width: 10em;
} */

footer {
    background-color: var(--c-secundary);
    padding: var(--em-default);
}

/* --------- - --------- - --------- */
/* Keyframes */
/* --------- - --------- - --------- */



/* --------- - --------- - --------- */
/* Media queries for responsiveness*/
/* --------- - --------- - --------- */

/* Extra Small screen */
@media (min-width: 20em) {

    .hero-save-n-share {
        display: none;
    }
    
    .product-hero {
        display: flex;
        padding: var(--em-default);
        padding-right: var(--em-default);
        padding-right: var(--em-medium);
        position: absolute;
        transform: translateY(-5em);
    }

    .product-hero div {
        padding: var(--em-small);
    }

    .product-hero-map {
        display: none;
    }

}

/* Small screen */
@media (min-width: 30em) {

    .hero-save-n-share {
        display: flex;
        position: absolute;
        transform: translateY(-6em);
        padding: var(--em-default);
        gap: var(--em-default);
        width: var(--w-quarter);
        flex-wrap: wrap;
    }

    .product-hero {
        padding: var(--em-default);
        padding-right: var(--em-default);
        padding-right: 4em;
    }

    .product-hero-map {
        display: block;
    }



    .product-images img {
        width: 15em;
    }
}

/* Medium screen */
@media (min-width: 48em) {
    
}

