* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Animation */
  --a-start: 0.2s;
  --a-default: 0.3s;
  --a-medium: 0.6s;
  --a-large: 1s;
  --a-x-large: 2s;
  --cubic-bezier: cubic-bezier(0, 0.3, 1, 0.3);

  /* Border-radius */
  --br-default: 1em;
  --br-round: 50%;

  /* colors */
  --c-primary: #f7a100;
  --c-primary-50: #fdc25c;
  --c-primary-0: #f8e4c1;
  --c-secundary: #0071b3;
  --c-secundary-100: #003858;
  --c-secundary-75: #84baf5;
  --c-secundary-50: #d4e9ff;
  --c-secundary-0: #e7f0fa;
  --c-default: #fff;
  --c-invert: #333;

  /* Space defaults */
  --em-micro: 0.2em;
  --em-small: 0.5em;
  --em-midsmall: 0.75em;
  --em-default: 1em;
  --em-medium: 2em;

  /* Shadow */
  --shdw-default: 0px 1px 7px rgba(0, 0, 0, 0.1),
    0px 4px 5px -2px rgba(0, 0, 0, 0.12),
    0px 10px 15px -5px rgba(0, 0, 0, 0.2);

  /* width */
  --w-full: 100%;
  --w-halffull: 75vw;
  --w-half: 50vw;
  --w-third: 33vw;
  --w-quarter: 25vw;
}

::selection {
  background-color: rgba(247, 161, 0, 0.33);
  color: var(--c-invert);
}

/* Basic settings */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Proxima Nova", sans-serif;
  background-color: var(--c-default);
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 4em;
  background-color: var(--c-primary);
  display: flex;
  align-items: center;
  padding: var(--em-default);
}

header nav {
  width: var(--w-full);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--em-default);
  gap: var(--em-default);
}

header ul:nth-child(1) {
  display: none;
}

header nav ul:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--em-small);
  right: var(--em-default);
  position: absolute;
}

header a {
  color: var(--c-default);
  transition: var(--a-default);
  padding: var(--em-small);
  display: flex;
  align-items: center;
  gap: var(--em-small);
}

header a:hover {
  background-color: var(--c-primary-50);
  border-radius: var(--em-small);
}

header a:focus {
  border: 0.2em solid var(--c-default);
  border-radius: var(--em-small);
}

header span {
  display: none;
}

main {
  display: block;
  position: relative;
}

button {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--em-small);
  background-color: var(--c-default);
  padding: var(--em-small);
  transition: var(--a-default) ease-in-out;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1),
    0px 4px 5px -2px rgba(0, 0, 0, 0.12),
    0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}

button:hover {
  cursor: pointer;
}

button:focus-visible {
    outline: none;
}

button svg {
  transition: var(--a-default);
}

button:hover svg {
  fill: var(--c-secundary);
}

a {
  width: fit-content;
  display: block;
  padding: var(--em-small);
  text-decoration: none;
  transition: var(--a-default);
  border: var(--em-micro) solid inherit;
}

a:hover {
  border-radius: var(--em-small);
}

a:focus {
  padding: var(--em-small);
  border-radius: var(--em-small);
}

a:focus-visible {
  outline: none;
}

svg {
  fill: var(--c-primary);
}

hr {
  border: 0.1em solid var(--c-default);
  border-radius: var(--em-default);
  opacity: 0.5;
  margin: var(--em-micro) 0;
}

img {
  background-color: #555;
}

.show {
  display: block;
}

/* sections */

section {
  display: block;
}

section h3 {
  color: var(--c-primary);
}

section p {
  color: var(--c-invert);
}

.hero {
  width: var(--w-full);
  background-image: linear-gradient(
    var(--c-secundary-50, --c-default)
  );
}

.hero img {
  width: var(--w-full);
}

.hero-save-n-share {
  display: flex;
  position: absolute;
  transform: translateY(-5em);
  padding: var(--em-default);
  gap: var(--em-midsmall);
  width: 27vw;
  flex-wrap: wrap;
}

.hero-save-n-share button {
    outline: none;
}

.hero-save-n-share button:focus {
    outline: var(--em-micro) solid var(--c-primary);
}   


.product-hero {
  width: fit-content;
  background-color: var(--c-primary);
  color: var(--c-default);
  border-radius: var(--em-small) 0 0 var(--em-small);
  padding: var(--em-default);
  padding-right: var(--em-medium);
  position: absolute;
  right: 0;
  transform: translateY(-5em);
  animation: fade-left var(--a-x-large) var(--a-start)
    ease-in-out forwards;
  opacity: 0;
  z-index: 5;
}

.product-hero h1,
h2,
h3 {
  color: var(--c-default);
}

.product-hero sup {
  font-size: var(--em-small);
}

.product-hero-title {
  animation: fade-in var(--a-medium) 2s ease-in-out forwards;
  opacity: 0;
}

.product-hero-title .price {
  width: fit-content;
  color: var(--c-default);
  background-color: var(--c-primary-50);
  margin-top: var(--em-small);
  padding: var(--em-micro) var(--em-small);
  border-radius: var(--em-micro);
}

.hero-map {
  display: flex;
  align-items: center;
  width: fit-content;
  animation: fade-in var(--a-medium) 2.25s ease-in-out
    forwards;
  gap: var(--em-micro);
  opacity: 0;
}

.hero-map a svg {
  mix-blend-mode: normal;
  transition: var(--a-default) ease-in-out;
}

.hero-map a:hover svg {
  animation: map var(--a-default) 0.2s forwards;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.1),
    0px 4px 5px -2px rgba(0, 0, 0, 0.12),
    0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}

.hero-map a:focus {
  outline: 0.1em solid var(--c-default);
  border-radius: var(--em-small);
}

.hero-impression {
  display: flex;
  animation: fade-in var(--a-medium) 2.5s forwards;
  opacity: 0;
}

.hero-impression a {
  color: var(--c-default);
  transition: var(--a-default);
  padding: var(--em-small);
  display: flex;
  align-items: center;
  gap: var(--em-small);
}

.hero-impression button {
  color: var(--c-default);
  background-color: inherit;
  border-radius: var(--em-small);
  gap: var(--em-micro);
  display: flex;
  align-items: center;
  box-shadow: none;
}

.hero-impression button:hover {
  background-color: var(--c-primary-50);
}

.hero-impression svg {
  padding: var(--em-micro);
  fill: var(--c-default);
}

.hero-impression button:hover svg {
  fill: var(--c-default);
}

.images {
  width: 100vw;
  padding: 21em 0 0em;
  display: flex;
  position: relative;
  flex: 0 0 100%;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  touch-action: manipulation;
  gap: var(--em-small);
}

.images::before {
  position: sticky;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 1) 80%
  );
}

.images::after {
  position: sticky;
  right: 0;
}

.images img {
  width: var(--w-full);
  display: inline-flex;
  flex: none;
  scroll-snap-align: center;
  border-radius: var(--em-micro);
}

.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 8em;
}

.carousel {
  display: flex;
  transition: transform 1s;
}

.carousel-item {
  width: 33%;
  height: 100%;
}

.carousel img {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.thumbnail-container {
  width: var(--w-full);
  display: flex;
  bottom: 0;
  padding: var(--em-medium) var(--em-default);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow-x: scroll;
  gap: var(--em-small);
}

.thumbnail-container img {
  width: 8em;
  height: 5em;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: var(--shdw-default);
}

.thumbnail {
  animation: scale-down var(--a-medium);
  transition: var(--a-medium) ease-in-out;
}

.thumbnail.active {
  animation: scale-up var(--a-medium);
  border: var(--em-micro) solid var(--c-primary);
  transition: var(--a-default) ease-in-out;
}

.prev-button {
  transform: translateY(-12em);
  position: absolute;
  left: 1em;
  visibility: hidden;
}

.next-button {
  transform: translateY(-12em);
  position: absolute;
  right: var(--em-default);
  visibility: hidden;
}

.info {
  width: fit-content;
  border-radius: var(--em-small);
  background-color: var(--c-secundary-50);
  padding: var(--em-small) var(--em-default);
  animation: fade-in var(--a-medium) 2.75s ease-in-out
    forwards;
  opacity: 0;
}

.info ul {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: var(--em-micro);
}

.info li {
  color: var(--c-secundary);
  display: flex;
  align-items: center;
  padding: var(--em-small);
}

.info svg {
  margin-right: var(--em-small);
}

.info sup {
  padding-bottom: var(--em-default);
}

.summary {
  padding: var(--em-medium);
}

.summary article:nth-child(1) {
  width: var(--w-full);
  padding: var(--em-default) 3em;
}

.summary h2,
h3 {
  color: var(--c-primary);
}

.summary p + h2,
h3 {
  padding-top: var(--em-default);
}

.summary ul + strong {
  padding-top: var(--em-default);
}

.summary li {
  padding-bottom: 0.4em;
}

.features {
  width: var(--w-full);
  display: flex;
  flex-wrap: wrap;
  padding: var(--em-default);
}

.features article {
  display: block;
  width: var(--w-full);
}

.features a {
  color: var(--c-secundary);
  margin: var(--em-small);
  padding: var(--em-small);
}

.features a:hover {
  background-color: var(--c-secundary-75);
  color: var(--c-default);
}

.features a:focus {
  border: var(--em-micro) solid var(--c-secundary);
  padding: var(--em-small);
}

.features h2,
h3 {
  width: var(--w-full);
  padding: 0;
  display: block;
  color: var(--c-primary);
}

.features h3 + dl {
  margin: var(--em-default) 0;
}

.features dl {
  width: var(--w-full);
  background-color: var(--c-secundary-0);
  padding: var(--em-default) var(--em-default)
    var(--em-medium);
  border-radius: var(--em-small);
}

.features dt {
    color: var(--c-secundary-100);
  padding: var(--em-small);
}

.features dd {
  background-color: var(--c-default);
  padding: var(--em-small);
  color: var(--c-secundary);
  border-radius: var(--em-micro);
}

.map {
  display: block;
}

.map h2 {
  display: block;
  width: fit-content;
  color: var(--c-primary);
  padding: var(--em-small);
}

.map iframe {
  width: var(--w-full);
  min-height: var(--w-quarter);
  border-radius: var(--em-small);
}

.comparable {
  padding: var(--em-default);
}

.actions {
  padding: var(--em-default);
  background-color: #d4e9ff;
  margin-top: 1em;
}

.actions ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--em-small);
}

.actions a {
  color: var(--c-secundary);
  border: var(--em-micro) solid var(--c-secundary-50);
  padding: var(--em-small);
}

.actions a:hover {
    color: var(--c-default  );
    background-color: var(--c-secundary-75);
}

.actions a:focus {
    border: var(--em-micro) solid var(--c-secundary);
}

li {
  list-style: none;
  max-width: 30em;
}

.logo {
  width: 6em;
  height: auto;
  display: block;
  background: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--c-default);
  max-width: 30em;
}

p {
  color: var(--c-invert);
  line-height: 1.4em;
}

strong {
  line-height: 1em;
  display: block;
}

sup {
  font-size: var(--em-small);
}

footer {
  background-color: var(--c-secundary);
  padding: var(--em-default);
  gap: var(--em-default);
}

footer section {
  width: fit-content;
  padding-bottom: var(--em-default);
}

footer .social-links ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--em-small);
}

footer article {
  padding: var(--em-small);
}

footer p {
  color: var(--c-default);
  text-align: center;
}

footer li {
  align-items: center;
}

footer svg {
  fill: var(--c-default);
}

footer .service-options ul {
  display: flex;
  justify-content: center;
  padding: var(--em-small);
}

footer a {
  color: var(--c-default);
  border: var(--em-micro) solid var(--c-secundary);
  transition: var(--a-default);
  padding: var(--em-small);
  display: flex;
  align-items: center;
  gap: var(--em-small);
}

footer a:hover {
  background-color: var(--c-secundary-75);
  border-radius: var(--em-small);
}

footer a:focus {
  border: 0.2em solid var(--c-default);
  border-radius: var(--em-small);
}

footer h3,
p {
  color: var(--c-default);
}

/* dialog */

dialog::backdrop {
  background-color: #0008;
  backdrop-filter: blur(var(--em-));
}

dialog {
    width: 90vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: var(--em-medium);
    border: none;
    border-radius: 5px;
    /* display: none */
  }
  
  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--em-small) var(--em-default);
  }
  
  .dialog-header h2 {
    color: var(--c-primary);
    margin: 0;
  }

  dialog video {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: var(--em-small) ;
  }
  
  dialog .close-button {
    width: 2em;
    aspect-ratio: 1/1;
    background-color: var(--c-primary);
    border: none;
    cursor: pointer;
  }

  dialog .close-button:focus {
    border: var(--em-micro) solid var(--c-primary);
    background-color: var(--a-default);
    color: var(--c-primary);
  }

  

/* --------- - --------- - --------- */
/* Keyframes */
/* --------- - --------- - --------- */

@keyframes map {
  10% {
    transform: perspective(1em) rotateX(10deg);
  }

  120% {
    transform: perspective(2.5em) rotateX(30deg);
  }

  100% {
    transform: perspective(2em) rotateX(12deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(40em) translateY(-8em);
    opacity: 0;
  }

  33% {
    opacity: 0.33;
  }

  50% {
    transform: translateX(-2em) translateY(-8em);
    border-radius: var(--em-default);
    opacity: 1;
  }

  100% {
    transform: translateX(0em) translateY(inherit);
    opacity: 1;
  }
}

@keyframes scale-up {
  100%,
  0% {
    transform: scale(100%);
  }

  33% {
    transform: scale(80%);
  }

  66% {
    transform: scale(105%);
  }
}

@keyframes scale-down {
  100%,
  0% {
    transform: scale(100%);
  }

  33% {
    transform: scale(105%);
  }

  66% {
    transform: scale(66%);
  }
}

/* --------- - --------- - --------- */
/* Media queries for responsiveness*/
/* --------- - --------- - --------- */

/* Extra Small screen */
@media (min-width: 20em) {
  header ul:nth-child(1) {
    display: none;
  }

  .hero-save-n-share {
    display: none;
    width: 30vw;
  }

  .product-hero {
    width: 19em;
    display: flex;
    flex-wrap: wrap;
    padding: var(--em-default);
    padding-right: var(--em-default);
    padding-right: var(--em-medium);
    position: absolute;
    transform: translateY(-5em);
  }

  .product-hero-title {
    display: flex;
    flex-wrap: wrap;
    padding: var(--em-small);
  }

  .hero-map {
    width: var(--w-full);
    height: fit-content;
    padding: 0;
  }

  .hero-impression ul {
    width: var(--w-full);
    display: flex;
    flex-wrap: wrap;
  }

  .hero-impression li {
    margin: var(--em-micro) var(--em-small);
  }

  .hero-impression a:hover {
    background-color: var(--c-primary-50);
    border-radius: var(--em-small);
  }

  .map {
    height: var(--w-full);
  }

  .map iframe {
    height: var(--w-full);
    border-radius: 0;
  }
}

@media (min-width: 23.75em) {
  header ul:nth-child(1) {
    display: none;
  }

  .product-hero-title {
    display: block;
  }

  .hero-save-n-share {
    display: flex;
    width: 30vw;
  }

  /* Small screen */
  @media (min-width: 30em) {
    header ul:nth-child(1) {
      display: flex;
    }

    .product-hero {
      width: fit-content;
      max-width: 72vw;
      flex-wrap: wrap;
      padding: var(--em-default);
      padding-right: var(--em-default);
    }

    .hero-map {
      width: fit-content;
    }

    .hero-impression {
      display: block;
    }

    .hero-impression ul {
      min-width: 10em;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: var(--em-small) 0;
    }

    .images {
      width: inherit;
      padding: 22em 0 1em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      overflow: auto;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      touch-action: manipulation;
      gap: var(--em-small);
    }

    .carousel-container {
      width: 80vw;
      height: auto;
      padding-bottom: 8em;
    }

    .carousel img {
      aspect-ratio: 4/3;
      border-radius: var(--em-small);
    }

    .thumbnail-container {
      bottom: auto;
      padding: var(--em-default) var(--em-default);
    }

    .images img {
      display: flex;
      flex: none;
      scroll-snap-align: center;
    }

    .map {
      height: var(--w-full);
    }

    footer {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: space-evenly;
    }

    footer section {
      width: 40vw;
    }

    footer .social-links {
      width: var(--w-full);
    }

    footer .social-links article {
      width: fit-content;
      margin: 0 auto;
    }
  }

  /* Medium screen */
  @media (min-width: 48em) {
    header ul:nth-child(1) {
      display: flex;
      align-items: center;
    }

    header span {
      display: block;
    }

    .product-hero {
      width: 75vw;
      padding: var(--em-default);
      padding-right: var(--em-default);
    }

    .product-hero-title {
      width: 22em;
      height: fit-content;
    }

    .hero-impression {
      display: flex;
      max-width: 36em;
      height: fit-content;
    }

    .hero-impression ul {
      display: flex;
      flex-wrap: wrap;
    }

    .images {
      padding: 12.5em 0 0;
    }

    .carousel-container {
      padding-bottom: 9em;
    }

    .prev-button,
    .next-button {
      visibility: visible;
      transform: translateY(-50%);
      top: 40%;
    }

    .thumbnail-container {
      width: var(--w-halffull);
      justify-content: flex-start;
    }

    .summary {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .summary article {
      width: 20em;
      padding: var(--em-small);
    }

    .features {
      width: 90vw;
      display: flex;
      flex-wrap: wrap;
      padding: var(--em-default);
      gap: var(--em-small) var(--em-default);
      justify-content: space-between;
      margin: auto;
    }

    .features article {
      width: 40vw;
      height: fit-content;
      display: block;
    }

    .map {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .map iframe {
      width: 87vw;
      min-height: var(--w-half);
      border-radius: var(--em-small);
    }
  }

  /* Mid-Large screen */
  @media (min-width: 60em) {
    .hero {
      padding: var(--em-medium);
    }

    .hero img {
      width: var(--w-halffull);
      border-radius: var(--em-small);
    }

    .hero .hero-save-n-share {
      padding: var(--em-default);
    }

    .product-hero {
      width: 60vw;
      border-radius: var(--em-small);
      right: var(--em-medium);
      transform: translateY(-12em);
    }

    .images {
      padding: 6em 0 var(--em-default);
    }

    .carousel-container {
      width: 66vw;
    }

    .carousel img {
      aspect-ratio: 16/9;
    }

    .prev-button,
    .next-button {
      transform: translateY(60%);
      top: 40%;
    }

    .summary article {
      width: 25em;
    }

    .features article {
      width: 40vw;
    }

    footer {
      padding: var(--em-default) 10em;
    }

    footer section {
      width: fit-content;
    }
  }

  /* Large screen */
  @media (min-width: 75em) {
    header {
      padding: var(--em-default) 5em;
    }

    header nav ul:nth-child(2) {
      position: static;
    }

    main {
      padding: 0 5em;
    }

    .hero {
      width: var(--w-full);
      padding: var(--em-medium);
    }

    .product-hero {
      width: 40vw;
      border-radius: var(--em-small);
      right: var(--em-medium);
      transform: translateY(-12em);
    }

    .product-hero-title {
      width: var(--w-quarter);
    }

    .carousel img {
      aspect-ratio: 16/9;
    }

    .features article {
      width: 40vw;
    }

    .actions {
      border-radius: var(--em-small) var(--em-small) 0 0;
      position: relative;
    }

    .actions::before {
      content: "";
      width: var(--em-default);
      aspect-ratio: 1/1;
      display: block;
      background-color: var(--c-default);
      position: absolute;
      bottom: 0em;
      left: -1em;
      box-shadow: 0.5em 0.5em 0 0em var(--c-secundary-50);
      border-radius: 100%;
      z-index: -1;
    }
  }

  .actions::after {
    content: "";
    width: var(--em-default);
    aspect-ratio: 1/1;
    display: block;
    background-color: var(--c-default);
    position: absolute;
    bottom: 0em;
    right: -1em;
    box-shadow: -0.5em 0.5em 0 0em var(--c-secundary-50);
    border-radius: 100%;
    z-index: -1;
  }
}

